<div fixed style="z-index:2;">
    <div class="header-table" style="position: sticky;top: 0;">
        <div class="small-cell-churn-4" style="z-index:1;border-radius: 8px; border-right: 1px solid #f3f3f3;">
            <div class="font-row font-main">
                <div class="header">
                    <div class="font-w-bold" style="text-align:left;">
                        Observation Period
                    </div>

                    <div class="variants">
                        <span class="font-w-bold">Start: </span>
                        <span class="font-w-regular">15-02-2018</span>
                        <span class="font-w-bold">End: </span>
                        <span class="font-w-regular">19-02-2018</span>
                        <span class="font-w-bold">Days: </span>
                        <span class="font-w-regular">4</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-cell-churn-4" style="z-index:1;border-radius: 8px; border-right: 1px solid #f3f3f3;">
            <div class="font-row font-main">
                <div class="header">
                    <div class="font-w-bold" style="text-align:left;">
                        Churn Period
                    </div>

                    <div class="variants">
                        <span class="font-w-bold">Start: </span>
                        <span class="font-w-regular">20-02-2018</span>
                        <span class="font-w-bold">End: </span>
                        <span class="font-w-regular">23-02-2018</span>8
                        <span class="font-w-bold">Days: </span>
                        <span class="font-w-regular">4</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header-table">
    <div (click)="showTab = 'overview'" [ngClass]="{'active-item' : showTab === 'overview'}" class="small-cell-churn-3" style="border-right: 1px solid #f3f3f3;">
        Overview
    </div>
    <div (click)="showTab = 'ORIGIN'" [ngClass]="{'active-item' : showTab === 'ORIGIN'}" class="small-cell-churn-3" style="border-right: 1px solid #f3f3f3;">
        User Origin
    </div>
    <div (click)="showTab = 'BEHAVIOR'" [ngClass]="{'active-item' : showTab === 'BEHAVIOR'}" class="small-cell-churn-3">
        User Behaviour
    </div>
</div>

<performance-analysis-overview *ngIf="showTab === 'overview'"></performance-analysis-overview>

<performance-analysis-user-origin-basis *ngIf="showTab === 'ORIGIN'"></performance-analysis-user-origin-basis>
<performance-analysis-user-behavior-basis *ngIf="showTab === 'BEHAVIOR'"></performance-analysis-user-behavior-basis>